.main-container{
    display: flex;
    justify-content: flex-end;
}

.bubble {
    background-color: cornflowerblue;
    width: 6vw;
    height: 8vh;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    position: fixed;
    z-index: 10;
}

.bubble:hover{
    transform: scale(1.3);
    transition-duration: 0.25s;
}

.innerbubble{
    display: flex;
    justify-content: center;
    align-self: center;
    height: 7vh;
    width: 5vw;
}

#chatbot{
     /* display: none; */
    position: absolute;
    transform: scale(0);
}