<div class="test">
    <div class="something">
      <div class="center chat-container container">
        <nav class="navbar" >
          <img class="hideicon" src="assets/arrow.jpg">
          <img class="usericon" src="assets/icon.png">
          <img class="endchat" src="assets/end.png" (click)="endchat()">
        </nav>
        <app-chatbox [messages]="messages" [colorBackRight]="colorBackRight" [colorFontRight]="colorFontRight"
        [colorBackLeft]="colorBackLeft" [colorFontLeft]="colorFontLeft" [disabled]="disabled" class="center"> </app-chatbox>
      </div>
    </div>
  </div>