.content-message {
    width: 80%;
}
  
.right-content {
    display: flex;
    justify-content: flex-end;
}

.left-content {
    display: flex;
    justify-content: flex-start;
}

.left-content p{
   white-space: pre-line;
}

p {
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.nav {
    border: 2px solid black;
    background-color: pink;
}

img{
    padding: 0.5vh;
    width: 4vh;
    height: 4vh;
}
